/* override css styles of the main theme here */

body {
    justify-content: space-between;
}

.main {
    flex-grow: 1;
    align-items: flex-start;
    animation: fade-in 0.4s ease-in-out both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}